//// VARIABLES

// Colores
$custom-pink: rgb(255, 192, 203);
$custom-grey: rgb(220, 220, 220);
$custom-darkgrey: rgb(60, 60, 60);

//// MIXINS
@mixin flex($direccion, $main, $sec) {
  display: flex;
  flex-direction: $direccion;
  justify-content: $main;
  align-items: $sec;
}

//// HEADER

.header {
  @include flex(column, stretch, flex-start);
  background-color: $custom-pink;

  &__brand {
    @include flex(row, center, center);
    margin: 0.5rem 0rem 0.5rem 0.5rem;

    img {
      width: 4rem;
    }

    h2 {
      margin-left: 0.5rem;

      font-size: 1.5rem;

      a {
        color: black;

        &:hover {
          color: white;
        }
      }
    }
  }

  // Navbar

  &__nav {
    width: 100%;
    background-color: $custom-darkgrey;

    ul {
      @include flex(row, flex-start, center);
      margin: 0.5rem 0 0.5rem;
      li {
        padding: 0 0.5rem;
        a:hover {
          color: $custom-grey;
        }
      }
    }
  }
}

//// Sección Compras

.seccion-compras {
  &__compra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "imagen imagen imagen info info info"
      "opciones opciones opciones opciones opciones opciones";

    row-gap: 0.2rem;

    margin: 4rem 0;

    border-radius: 10px;
  }

  &__imagen {
    grid-area: imagen;
    width: 100%;

    background-color: white;

    border-top: 2px solid $custom-grey;

    border-top-left-radius: 10px;
  }

  &__info-prod {
    grid-area: info;

    height: 100%;
    padding: 0.5rem;

    background-color: $custom-pink;

    border-top-right-radius: 10px;
  }

  &__opciones {
    grid-area: opciones;
    @include flex(column, space-evenly, center);

    height: 6rem;

    font-weight: 400;

    background-color: skyblue;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    span {
      padding: 0.4rem;

      text-align: center;

      background-color: $custom-darkgrey;
      border: 1px solid white;
      border-radius: 6px;

      box-shadow: 1px 1px 4px $custom-darkgrey;
    }
  }
}
