footer {
  height: 15rem;
}

.footer__redes-y-mapa {
  height: 100%;
}

.footer__mapa {
  height: 80%;
}

footer iframe {
  height: 75%;
  width: 100%;
}

/* 768px */

@media screen and (min-width: 768px) {
  footer {
    height: 25rem;
  }

  footer iframe {
    width: 80%;
  }

  .footer__mapa p {
    padding-bottom: 1rem;
  }
}
