@use "var-mix";

// PRODUCTO

.producto {
  height: 100%;

  &__nombre-producto {
    font-size: 1rem;
    font-weight: 400;

    background-color: var-mix.$skyblue;
  }

  &__imagen-producto {
    margin-top: calc(0.3vw + 0.3vh);

    background-color: var-mix.$white;
  }
}

// Producto -- columna

.seccion-productos--columna {
  .producto__nombre-producto {
    font-size: 0.6rem;
  }

  .producto__imagen-producto {
    margin-top: calc(0.1vw + 0.1vh);
  }
}

/**/ /**/ /* Animación producto */ /**/ /**/

.producto--animacion {
  &__contenedor-relativo-imagen {
    position: relative;

    height: 100%;
    width: 100%;
  }

  &__info-adicional {
    position: absolute;
    left: 0%;
    bottom: -15%;

    width: 100%;

    text-align: center;

    opacity: 0;
    color: var-mix.$custom-darkgrey;
  }

  &:hover {
    .producto__imagen-producto {
      position: absolute;

      box-sizing: content-box;
      padding-bottom: 20%;

      transition: all 0.2s ease;
    }
    .producto--animacion__info-adicional {
      opacity: 1;

      transition: all 0.2s ease-in;
    }
  }
}

// Responsive

/* 420px */

@media screen and (min-width: 420px) {
  .producto__nombre-producto {
    font-size: 1.2rem;
  }
}

/* 768px */

@media screen and (min-width: 768px) {
  .producto__imagen-producto {
    margin-top: calc(0.2vw + 0.2vh);
  }
}

/* 992px */

@media screen and (min-width: 992px) {
  .producto__nombre-producto {
    font-size: 1.2rem;
  }

  .seccion-productos--columna .producto__nombre-producto {
    font-size: 0.9rem;
  }
}

// REDES SOCIALES

.redes {
  @include var-mix.flex(column, center, flex-start);

  &__red {
    @include var-mix.flex(row, stretch, center);

    padding: 0.4rem 0;

    img {
      max-width: 2rem;
      margin-left: 0.5rem;
    }
  }
}

// PROMO

.promo {
  &__fila {
    height: 15rem;

    background-image: url("../images/supermercado.jpg");

    background-size: 170%;
    background-position: 0% 100%;

    animation: fondo-super 10s infinite 0s linear;

    border: 3px solid var-mix.$custom-darkgrey;
  }

  &__texto {
    font-size: 1rem;
  }

  &__imagen {
    img {
      width: 50%;
      animation: liebre 0.5s infinite 0s linear;
    }
  }
}

@keyframes liebre {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(-20deg) translatey(-10px);
  }
  70% {
    transform: rotate(30deg);
  }
  100% {
  }
}

@keyframes fondo-super {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 243% 100%;
  }
}

// Responsive

/* 576px */

@media screen and (min-width: 576px) {
  .promo {
    &__fila {
      height: 20rem;
    }
    &__texto {
      font-size: 1.2rem;
    }
  }
}

/* 768px */

@media screen and (min-width: 768px) {
  .promo {
    &__fila {
      height: 15rem;
    }

    &__imagen img {
      width: 40%;
    }
  }
}
