.bs {
  //

  /* 992px */

  @media screen and (min-width: 992px) {
    .categorias {
      .seccion-productos__titulo {
        font-size: 1.5rem;
      }
      .producto {
        &__nombre-producto {
          font-size: 0.8rem;
        }
        &--animacion {
          &__info-adicional {
            font-size: 0.6rem;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1400px) {
    .categorias {
      .seccion-productos__titulo {
        font-size: 1.8rem;
      }
      .producto {
        &__nombre-producto {
          font-size: 1rem;
        }
        &--animacion {
          &__info-adicional {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  //
  //
}
