@charset "UTF-8";
/* Cursor */
p,
h1,
h2,
h3,
h4,
span {
  cursor: default;
}

a * {
  cursor: pointer;
}

/* Fuentes  */
p,
a,
ul,
span {
  font-family: "Noto Serif", serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

/* Enlaces */
a {
  color: white;
  text-decoration: none;
}

/* Títulos */
.titulo-principal {
  font-size: 3rem;
  color: white;
  background-color: skyblue;
}

.producto {
  height: 100%;
}
.producto__nombre-producto {
  font-size: 1rem;
  font-weight: 400;
  background-color: skyblue;
}
.producto__imagen-producto {
  margin-top: calc(0.3vw + 0.3vh);
  background-color: white;
}

.seccion-productos--columna .producto__nombre-producto {
  font-size: 0.6rem;
}
.seccion-productos--columna .producto__imagen-producto {
  margin-top: calc(0.1vw + 0.1vh);
}

/**/ /**/ /* Animación producto */ /**/ /**/
.producto--animacion__contenedor-relativo-imagen {
  position: relative;
  height: 100%;
  width: 100%;
}
.producto--animacion__info-adicional {
  position: absolute;
  left: 0%;
  bottom: -15%;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: rgb(33, 37, 41);
}
.producto--animacion:hover .producto__imagen-producto {
  position: absolute;
  box-sizing: content-box;
  padding-bottom: 20%;
  transition: all 0.2s ease;
}
.producto--animacion:hover .producto--animacion__info-adicional {
  opacity: 1;
  transition: all 0.2s ease-in;
}

/* 420px */
@media screen and (min-width: 420px) {
  .producto__nombre-producto {
    font-size: 1.2rem;
  }
}
/* 768px */
@media screen and (min-width: 768px) {
  .producto__imagen-producto {
    margin-top: calc(0.2vw + 0.2vh);
  }
}
/* 992px */
@media screen and (min-width: 992px) {
  .producto__nombre-producto {
    font-size: 1.2rem;
  }
  .seccion-productos--columna .producto__nombre-producto {
    font-size: 0.9rem;
  }
}
.redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.redes__red {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  padding: 0.4rem 0;
}
.redes__red img {
  max-width: 2rem;
  margin-left: 0.5rem;
}

.promo__fila {
  height: 15rem;
  background-image: url("../images/supermercado.jpg");
  background-size: 170%;
  background-position: 0% 100%;
  animation: fondo-super 10s infinite 0s linear;
  border: 3px solid rgb(33, 37, 41);
}
.promo__texto {
  font-size: 1rem;
}
.promo__imagen img {
  width: 50%;
  animation: liebre 0.5s infinite 0s linear;
}

@keyframes liebre {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(-20deg) translatey(-10px);
  }
  70% {
    transform: rotate(30deg);
  }
}
@keyframes fondo-super {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 243% 100%;
  }
}
/* 576px */
@media screen and (min-width: 576px) {
  .promo__fila {
    height: 20rem;
  }
  .promo__texto {
    font-size: 1.2rem;
  }
}
/* 768px */
@media screen and (min-width: 768px) {
  .promo__fila {
    height: 15rem;
  }
  .promo__imagen img {
    width: 40%;
  }
}
header {
  background-color: rgb(255, 231, 235);
}

.navbar .form-control {
  border: 1px solid white;
}

.seccion-productos {
  background-color: rgb(255, 231, 235);
}

.seccion-productos__titulo {
  width: fit-content;
  padding: 0.4rem 0.8rem;
  margin: 0 auto 1.5rem;
  font-size: 1.4rem;
  color: rgb(33, 37, 41);
  border-radius: 0.4rem;
  background-color: white;
}

.seccion-productos--columna {
  background-color: white;
}

/* 420px */
@media screen and (min-width: 420px) {
  .seccion-productos__titulo {
    font-size: 1.6rem;
  }
}
/* 768px */
@media screen and (min-width: 768px) {
  .seccion-productos--columna__titulo {
    font-size: 0.8rem;
  }
}
/* 992px */
@media screen and (min-width: 992px) {
  .seccion-productos__titulo {
    font-size: 2rem;
  }
  .seccion-productos--columna__titulo {
    font-size: 1rem;
  }
}
/* 1200px */
@media screen and (min-width: 1200px) {
  .seccion-productos--columna__titulo {
    font-size: 1.4rem;
  }
}
/* 992px */
@media screen and (min-width: 992px) {
  .categorias .seccion-productos__titulo {
    font-size: 1.5rem;
  }
  .categorias .producto__nombre-producto {
    font-size: 0.8rem;
  }
  .categorias .producto--animacion__info-adicional {
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 1400px) {
  .categorias .seccion-productos__titulo {
    font-size: 1.8rem;
  }
  .categorias .producto__nombre-producto {
    font-size: 1rem;
  }
  .categorias .producto--animacion__info-adicional {
    font-size: 0.8rem;
  }
}
.ayuda {
  background-color: rgb(255, 231, 235);
}
.ayuda #nombre,
.ayuda #email {
  max-width: 300px;
}
.ayuda #flexRadioDefault0:checked, .ayuda #flexRadioDefault1:checked, .ayuda #flexRadioDefault2:checked {
  background-color: rgb(33, 37, 41);
  border-color: rgb(33, 37, 41);
}

/*# sourceMappingURL=style.css.map */
